
body{
    font-family: 'Montserrat', sans-serif;
    background-color: #F4F4F4; 
}
.tabs{
    max-width: 1440px;
    margin: 40px;
}
.tabs-triggers{
    display: flex;   
}
.tabs-triggers-item{
    color: rgba(12, 12, 12, 1);
    font-size: 22px;
    font-weight: 500;
    padding: 20px;
    text-decoration: none;
    border-radius: 20px 20px 0px 0px;
    background-color: #D9D9D9;
}
.tabs-triggers-item--active{
    background-color: #FFFFFF;
    color: #3922C5;
}
.tabs-content-item{
    display: none;
    padding: 40px 40px 40px 40px;  
}
.tabs-content-item--active{
    display: block;
    max-width: 846px;
    min-height: 845px;
    background-color: #FFFFFF;
    border-radius: 0px 20px 20px 20px;
}
.info{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    column-gap: 10px;
    row-gap: 10px;   
}
#mBike{
    max-width: 358px;
    max-height: 232px;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/4 ;
    left: -40px;
}
.info h1{
    margin: 0px; 
}
.info p{
    margin: 0px;  
}
.tabs-content-item hr{
    margin-top: 50px;
    margin-bottom: 20px;
    border: 0.5px solid #D9D9D9;
}

.list h3 {
    font-size: 18px;
    font-weight: 500;
    margin: 40px 0 15px 0 ;
}
.list ol {
    display: grid;
    grid-template-columns: auto auto;
    grid-column: 1/3;
    grid-row: 1/2;
    padding-left: 0px;
    margin: 15px 0 15px 0 ;
    list-style-position: inside;
}
.list li{
    margin: 15px 0 15px 0 ;
    font-size: 16px;
    font-weight: 400;
}
/* #wBike-ol{

} */
#wBike-ol li{
    list-style-image: url(images/Vector.svg);
}

.add h3{
    font-size: 18px;
    font-weight: 500;
    margin: 30px 0 30px 0 ;
}
.add label{
    font-weight: 500;
    font-size: 18px;
}
.add form{
    display: flex;
    align-items: center;
    gap: 20px;
}
#field{
    width: 351px;
    min-height: 52px;
    border-radius: 16px;
    border: 1px solid rgba(217, 217, 217, 1);
    font-size: 16px;
    font-weight: 400;
}
#field::placeholder{
    transform: translateX(20px);
    color: #D9D9D9;
}
#field:focus{
    border: 1px solid rgba(57, 34, 197, 1);
    outline: none;
    font-size: 16px;
    font-weight: 400;
}
#btn{
    width: 128px;
    height: 52px;
    border-radius: 16px;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    background-color: #3922C5;
    border: none;
}
#btn:hover{
    background-color:rgba(44, 26, 154, 1);
}
#btn:active{
    background-color:rgba(31, 19, 104, 1);
}
.valid{
    display: none;
    transition: 1s;
}
.valid-active{
    box-shadow: 0px 10px 40px rgba(12, 12, 12, 0.1);
    border-radius: 20px;
    margin-top: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px;
    gap: 10px;
    animation: sweet .3s ease-in-out;
    }
    @keyframes sweet {
        0%    {opacity: 0;}
        100%  {opacity: 1;}
    }

.ok{
    width: 92px;
    height: 52px;
    border-radius: 16px;
    border: none;
    background-color: rgba(57, 34, 197, 1);
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
}
.ok:hover{
    background-color:rgba(44, 26, 154, 1);
}
.ok:active{
    background-color:rgba(31, 19, 104, 1);
}
.no{
    width: 92px;
    height: 52px;
    font-size: 16px;
    font-weight: 400;
    border: none;
    background-color: transparent;
    color: rgba(12, 12, 12, 1);
}
.no:hover{
    color:rgba(44, 26, 154, 1);
}
.no:active{
    color:rgba(31, 19, 104, 1);
}
.accordion{

}

.accordion-item{
    margin-bottom: 20px;
    transition: 1s;
}
.red{
    color:red;
    font-weight: 500;
}
@media all and (max-width: 720px ){
    head {
        width: 720px;
      }
    .tabs{
        max-width: 720px;
        margin: 40px 20px;
    }
    #mBike{
        max-width: 100%;
        max-height: 100%;
        left: 0px;   
    }
    .accordion-item{
        margin-bottom: 20px;
    }
    
    .accordion-item-trigger{
        display: flex;
        justify-content: space-between;
        padding: 20px;
        background-color: #FFFFFF;
        color: rgba(12, 12, 12, 1);
        font-size: 20px;
        font-weight: 500;
        padding: 20px;
        text-decoration: none;
        border-radius: 20px ;
    }
    .accordion-item-content{
        padding: 20px;
        background-color: #FFFFFF;
        display: none;
    }
    .accordion-item-active .accordion-item-trigger{
        color: #3922C5;
        border-radius: 20px 20px 0px 0px;
        transition: all 0.1s;
    }
    .accordion-item-trigger img{
        transition: 0.2s;
    }
    .accordion-item-active .accordion-item-trigger img{
        transform: rotate(180deg);
        transition: 0.2s;
    }
    .accordion-item-active .accordion-item-content{
        display: block;
        border-radius: 0px 0px 20px 20px;
        animation: sweep .2s ease-in-out;
        /* transition: 0.1s; */
    }
    .red{
        color:red;
        font-weight: 500;
    }
    @keyframes sweep {
        0%    {opacity: 0;}
        100%  {opacity: 1;}
      }
    .info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 20px;   
    }
    .info h1{
        font-size: 24px;
        font-weight: 700;
    }
    .info p{
        font-size: 14px;
        font-weight: 400; 
    }
    .accordion-item hr {
        margin-top: 30px;
        margin-top: 30px;
        border: 0.5px solid #D9D9D9;
    }
    .list h3{
        font-size: 16px;
        font-weight: 500;
    }
    .list ol {
        display: flex;
        flex-direction: column;
        padding-left: 0px;
        gap: 15px;
        list-style-position: inside;
        
    }
    .list li {
        font-size: 14px;
        font-weight: 400;
        margin: 0px
    }
    .add h3{
        font-size: 16px;
        font-weight: 500;
    }
    .add form{
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        gap: 20px;
    }
    #field{
        /* /* display: block; */
        width: 100%; 
    }
    #btn{
        display: block;
        width: 100%;
        
    }
    
}